!!!
%html
  %head
    %title Cara ou Coroa
    %meta{"http-equiv" => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %meta{name: 'description', content: 'Programa em Ruby para a probabilidade do jogo Cara ou Coroa. Você pode executar para várias rodadas ao mesmo tempo escolhendo quantas vezes a moeda será jogada em cada rodada. O programa irá mostrar quantas vezes saiu cara e quantas vezes saiu coroa com a porcentagem para cada lado. O programa contém dois gráficos que mostram a probabilidade de dar cara e dar coroa de acordo com o número de lançamentos.'}
    %meta{name: 'keywords', content: 'probabilidade, amostra, cara ou coroa, fórmula, estatística computacional, estatística, programa, software, sistemas de informação, ciências da computação, programação, educação, universidade, faculdade, tecnologia da informação, gráfico, jogada, rodada, moeda'}
    %link{rel: 'stylesheet', href: '/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', href: '/css/bootstrap-theme.min.css'}
  %body
    .container-fluid
      .row
        .col-md-12
          %h1 Cara ou Coroa
          %h4 Resultados
      .row
        .col-md-6
          - tArr = Array.new
          - fArr = Array.new
          - @ammount.each_with_index do |n, i|
            %p
              %strong Quantidade de jogadas:
              = n
            %p
              %strong Sequência:
              %input.form-control{type: 'text', readonly: true, value: @result[i].to_s.gsub(/\"/, '')}
            - fProb = (@falseCount[i].to_f/n.to_f).round(2)
            - tProb = (@trueCount[i].to_f/n.to_f).round(2)
            - fArr << [n.to_i, fProb]
            - tArr << [n.to_i, tProb]
            %p= "O lado <strong>cara</strong> da moeda apareceu #{@falseCount[i]} vezes. Probabilidade: #{fProb} (#{(fProb*100).to_i}%)"
            %p= "O lado <strong>coroa</strong> da moeda apareceu #{@trueCount[i]} vezes. Probabilidade: #{tProb} (#{(tProb*100).to_i}%)"
            %hr/
        .col-md-6
          %h4 Gráfico
          %strong Cara
          %br/
          #chart_cara_div
          %br/
          %br/
          %strong Coroa
          %br/
          #chart_coroa_div
      %a{href: '/', title:'Voltar'} Voltar
      %br/
      %br/

    %script{src: "https://www.google.com/jsapi"}
    :javascript
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawCaraChart);
      google.setOnLoadCallback(drawCoroaChart);
      function drawCaraChart() {
        var options = {
          title: 'Jogadas da moeda vs. quantidade de vezes que apareceu cara',
          hAxis: {title: 'Jogadas', minValue: 0, maxValue: #{@ammount.each.max}},
          vAxis: {title: 'Probabilidade', minValue: 0, maxValue: #{fArr.each.max}},
          legend: 'none'
        };

        var data = google.visualization.arrayToDataTable(#{fArr.unshift(['Jogadas', 'Probabilidade']).to_s});

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_cara_div'));
        chart.draw(data, options);
      }

      function drawCoroaChart() {
        var options = {
          title: 'Jogadas da moeda vs. quantidade de vezes que apareceu coroa',
          hAxis: {title: 'Jogadas', minValue: 0, maxValue: #{@ammount.each.max}},
          vAxis: {title: 'Probabilidade', minValue: 0, maxValue: #{tArr.each.max}},
          legend: 'none'
        };

        var data = google.visualization.arrayToDataTable(#{tArr.unshift(['Jogadas', 'Probabilidade']).to_s});

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_coroa_div'));
        chart.draw(data, options);
      }

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55678900-3', 'auto');
      ga('send', 'pageview');